.doctors-btn {
  text-align: center;
  padding-bottom: 50px;
}
.doctors-btn button {
  background: #0ebcd3;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
}
.doctors-btn button:hover {
  background-color: black;
}
.doctors-header {
  padding: 40px 0;
}
