/* header section */
.doctor-section-header {
  text-align: center;
  padding: 40px 0;
}
.doctor-section-header p {
  color: red;
  font-size: 18px;
}
/* Button section */
.meetDoctor-btn {
  text-align: center;
}
.meetDoctor-btn button {
  background: #0ebcd3;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
}
.meetDoctor-btn button:hover {
  background-color: black;
}
