.news-section {
  padding: 100px 0;
}
.news-btn {
  text-align: center;
}
.news-btn button {
  background: #0ebcd3;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
}
.news-btn button:hover {
  background-color: black;
}
.news-header {
  text-align: center;
  color: #0ebcd3;
  padding: 50px 0;
}
